.tableGame{
	background: #ffffff;
	border-radius: 30px 30px 30px 30px;
	padding: 15px;
	margin: 10px;
	width: 65%;
}
table{
	border: 1px solid black;
	padding: 5px;
	margin-left: auto;
    margin-right: auto;
}
td{
	width: 115px;
	height: 80px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	background: MediumBlue;
}
 .button{
    display:block;
    position: relative;
    margin:0 auto;
    background: #86ff7d;
    font-size: 12pt;
    border-radius: 20px;
}
#container{
	background: #fad8b6;
	border-radius: 30px 30px 30px 30px;
	padding: 10px;
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
    margin-right: auto;
}
#header{
	background: #ffffff;
	border-radius: 30px 30px 30px 30px;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
#panel_1_1{
	background: #ffffff;
	border-radius: 30px 30px 30px 30px;
	padding: 15px;
	margin: 10px;
	width: 65%;
}
#line_1{
	display: flex;
}
 p {
	font-size: 18px;
	text-indent: 30px;
}
.accord-item{
	position: relative;
	margin-bottom: 20px;
}
.accord-item_input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.accord-item_trigger{
	display: block;
	padding-left: 85px;
	padding-right: 85px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 30px 30px 30px 30px;
	background: #ffffff;
	margin: 10px;
	cursor: pointer;
}
.accord-item_trigger:hover{
	text-decoration: underline;
}
.accord-item_content{
	padding: 20px;
	display: none;
}
.accord-item_input:checked ~ .accord-item_trigger{
	border-radius: 30px 30px 30px 30px;
	background: #ffffff;
	margin: 10px;
	display: block;
}
.accord-item_input:checked ~ .accord-item_content{
	display: block;
	border-radius: 30px 30px 30px 30px;
	margin-top: 10px;
	background: #ffffff;
	margin: 10px;
}
header{
	display:flex;
}